<div style="margin: 5px;">
  <h3>請重現下圖練習</h3>
  <h3>除了紅字的Angular引用元件是這頁的內容，下面component1跟component1皆為引用組件的組件內容</h3>
  <div style="display: flex;">
    <img style="height: 400px; margin-right: 3px;" src="/practise8.png">
  </div>
  <!-- 請將練習寫在這下面 -->
  <h3>練習</h3>
  <div style="height: 400px; width: 1212.36px;">
    <div style="display: flex; justify-content: center;">
      <h1 style="color: red; font-weight: bold;">Angular引用元件</h1>
    </div>
    <app-practice8-component1></app-practice8-component1>
    <app-practice8-component2></app-practice8-component2>
  </div>
</div>
