.img1{
  width: 200px;
  height: 200px;
  margin-right: 24px;
  margin-bottom: 36px;
}
.img2{
  width: 300px;
  height: 200px;
  margin-bottom: 36px;
  position: absolute;
}
.div1{
  width: 524px;
  height: 100px;
  margin-bottom: 36px;
  background: linear-gradient(to right, aqua, yellowgreen);
}
.input1{
  width:382.8px ;
  height: 16.8px;
  margin-right: 18px;
  padding: 0px;
}
.btn1{
  width:120px ;
  height: 20px;
  padding:0%;
}
.div2{
  width: 510px;
  height: 400px;
  background-color: white;
  padding: 20px;
}
.input2{
  width: 70%;height: 25px;
  border-radius: 15px;
  border: 3px solid black;
}
.btn2{
  width: 85%;
  height: 35px;
  border-radius: 15px;
  border: 3px solid black;
  margin-top: 36px;
  font-size: larger;
  font-weight: bolder;

}
