<div style="margin: 5px;">
  <h3>請重現下左圖練習1(img就放圖片 div設置一個背景顏色)</h3>
  <h3>右圖練習2(設計一個登入畫面 可自行設計或者按照範例)</h3>
  <div style="display: flex;">
    <img style="height: 400px; margin-right: 3px;" src="/practise2.png">
    <img style="height: 400px;" src="/practise3.png">
  </div>

  <!-- 請將練習1寫在這下面 -->
  <h3>練習1</h3>
  <img src="/images.jpg" style="height: 200px; width: 200px; margin-right: 24px;">
  <img src="/images1.png" style="height: 200px; width: 300px;">
  <div class="divCss">div</div>
  <input style="height: 20px; width: 386px; margin-right: 18px;">
  <button style="height: 20px; width: 120px;">button</button>

  <!-- 請將練習2寫在這下面 -->
  <h3>練習2</h3>
  <div style="height: 300px; width: 500px; background-color: rgb(255, 255, 255);">
  <h2 style="text-align: center; padding-top: 30px;">登入</h2>
  <label style="margin-left: 10%; font-size: 20px; font-weight:700">帳號:</label>
  <input style="border-radius: 10px;
  margin-bottom: 20px;
  width: 300px;height: 20px;
  text-align: center;">
  <br>
  <label style="margin-left: 10%; font-size: 20px; font-weight:700">密碼:</label>
  <input style="
  border-radius: 10px;
  margin-bottom: 20px;
  width: 300px;
  height: 20px;">
  <br>
  <button style="
  border-radius: 10px;
    width: 362px;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10%;
    ">登入</button>
</div>
</div>
