<div style="margin: 5px;">
  <h3>請重現下左圖練習1(img就放圖片 div設置一個背景顏色)</h3>
  <h3>右圖練習2(設計一個登入畫面 可自行設計或者按照範例)</h3>
  <div style="display: flex;">
    <img style="height: 400px; margin-right: 3px;" src="/practise2.png">
    <img style="height: 400px;" src="/practise3.png">
  </div>
  <!-- 請將練習1寫在這下面 -->
  <h3>練習1</h3>
  <div style="background-color: aliceblue;width:527px">
    <img style="width:200px;height:200px">
    <img style="width:300px;height:200px;margin-left: 24px;">
    <div style="width: 524px;height:100px;border:1px solid rgba(128, 128, 128, 0.514);margin-top: 36px;"></div>
    <input style="width:386px;height:20px;margin-top: 36px;">
    <button style="width:115px;height:25px;margin-left: 18px;margin-top: 36px;padding-bottom: 5px;"></button>
  </div>
  <!-- 請將練習2寫在這下面 -->
  <h3>練習2</h3>
  <div style="background-color: aliceblue;width: 530px;height: 400px;">
    <div style="text-align: center;padding-top: 30px;">
      <h2 style="font-weight: 2000;">登入</h2><br>
    </div>
    <div style="margin-left: 28px;">
      <label style="font-size: 20px;font-weight: 600;">帳號：</label>
    <input type="text" class="memberinput">
    </div>
    <br>
    <br>
    <div style="margin-left: 28px;">
      <label style="font-size:  20px;font-weight: 600;">密碼：</label>
      <input type="password" class="memberinput">
    </div>
    <br>
    <br>
    <button style="font-size: 20px;width: 438px;border-radius: 15px;margin-left: 30px;">登入</button>
  </div>
</div>
