<div style="margin: 5px;">
  <h3>請重現下左圖練習1(img就放圖片 div設置一個背景顏色)</h3>
  <h3>右圖練習2(設計一個登入畫面 可自行設計或者按照範例)</h3>
  <div style="display: flex;">
    <img style="height: 400px; margin-right: 3px;" src="/practise2.png">
    <img style="height: 400px;" src="/practise3.png">
  </div>
  <!-- 請將練習1寫在這下面 -->
  <h3>練習1</h3>
  <div class="container">
    <div class="imgs-group">
      <img src="/img1.jpg" alt="圖片1" class="img1">
      <img src="/img1.jpg" alt="圖片1" class="img2">
    </div>
    <div class="box1"></div>
    <input type="text" name="" id="" class="input1">
    <button class="btn btn-primary btn1">按我</button>
  </div>
  <!-- 請將練習2寫在這下面 -->
  <h3>練習2</h3>
  <div class="container">
    <h1 class="title">登入</h1>
    <div class="form-group">
      <div class="form-field">
        <label>帳號:</label>
        <input type="text">
      </div>
      <div class="form-field">
        <label>密碼:</label>
        <input type="password">
      </div>
      <button type="button" class="btn btn-success">登入</button>
    </div>
  </div>
</div>
