// 練習1
.img1 {
  width: 200px;
  height: 200px;
}

.img2 {
  width: 300px;
  height: 200px;
  margin-left: 24px;
  border: 2px solid black;
}

.colorDiv {
  width: 524px;
  height: 100px;
  margin-top: 36px;
  margin-bottom: 36px;
  background-color: rgb(42, 136, 242);
}

.inpu1Css {
  width: 386px;
  height: 20px;
}

.btn {
  width: 120px;
  margin-left: 18px;
  font-size: 15px;
}

// 練習2
.div2Css {
width: 400px;
height: 300px;
border: 3px dashed black;
background-color: rgb(42, 136, 242);
margin-bottom: 30px;
}

.inputDiv {
  margin-left: 20%;
}

.input2Css {
width: 60%;
border-radius: 15px;
}


.loginBtn {
  width: 70%;
  border-radius: 15px;
  margin-left: 15%;
  margin-bottom: 10%;
  border: 3px solid black;
  font-size: 18px;
}
