.black {
  background-color:  #474a4d;
  width: 300px;
  height: 300px;
}

.orange {
  background-color: #f7b977;
  width: 200px;
  height: 200px;
  position: relative;
  margin-left: 100px;
}

.green {
  background-color: #028760;
  width: 100px;
  height: 100px;
  position: absolute;
  margin-top: 100px;
}
