<div style="margin: 5px;">
  <h3>請將下圖重現</h3>
  <img style="height: 400px;"  src="/practise1.png">
  <!-- 請將練習寫在這下面 -->
  <h3>練習</h3>
  <div class="container">
    <h1>HTML練習</h1>
    <textarea cols="30" rows="2">我是文字輸入框(可拉大)</textarea>
    <ul>
      <li><input type="text" name="" id=""></li>
      <li><input type="checkbox" name="" id=""></li>
    </ul>
    <ol>
      <li><input type="file" name="" id=""></li>
      <li><input type="radio" name="" id=""></li>
    </ol>
    <button type="button">我是按鈕button</button>
  </div>
</div>
