<div style="margin: 5px;">
  <h3>請將下圖重現</h3>
  <img style="height: 400px;"  src="/practise1.png">
  <!-- 請將練習寫在這下面 -->
  <h3>練習</h3>
</div>

<div style="background-color: aliceblue; width: 377px;height: 390px">
  <div style="padding-top: 0;"><h5 style="font-size: 30px;padding-top: 10px;margin-bottom: 30px;">HTML練習</h5></div>
  <textarea style="width:280px;height: 50px;font-size: 20px;font-weight: 1000;">我是文字輸入框（可拉大）</textarea>
  <div style="margin-left: 10px;margin-top: 30px;">
    <ul>
      <li><input style="width: 230px;height:25px"></li>
      <li><input type="checkbox" style="width:20px;transform: scale(1.5);margin-top: 10px;"></li>
    </ul>
  </div>
  <div style="margin-left: 10px;margin-top: 30px;">
    <ol>
      <li><input type="file" style="font-size: 22px;font-weight: 600;"></li>
      <li><input type="radio" style="transform: scale(1.5);"></li>
    </ol>
  </div>
  <button style="font-size: 21px; margin-top: 20px;">我是按鈕Button</button>
</div>
