.Flexitem1{
  background-color: blue;
  color: white;
  height: 80px;
}

.Flexitem2{
  background-color:greenyellow;
}

.Flexitem3{
  background-color: red;
  margin-left: 10px;
  margin-right: 10px;
}

.Flexitem4{
  background-color: green;
}

.Flexitem5{
  background-color: yellow;
  height: 80px;
}
