.flexItem1{
  background-color: blue;
  height: 80px;
}

.flexItem2{
  background-color: greenyellow;
}

.flexItem3{
  background-color: red;
  margin-left: 10px;
  margin-right: 10px;
}

.flexItem4{
background-color: green;
}

.flexItem5{
  background-color: yellow;
  height: 80px;
}
