.flexItem1 {
  height: 80px;
  margin-bottom: 10px;
  color: white;
  background-color: blue;
}

.flexItem2 {
  margin-bottom: 10px;
  background-color: greenyellow
}

.flexItem3 {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: red;
}

.flexItem4 {
  margin-bottom: 10px;
  background-color: green;
}

.flexItem5 {
  margin-bottom: 10px;
  background-color: yellow;
}