<div style="margin: 5px;">
  <h3>請重現下圖練習(需安裝bootStrap並參考
    <a href="https://bootstrap5.hexschool.com/docs/5.1/utilities/flex/">網站</a>
    範例)
  </h3>
  <h3>中間間隔為10px，Flex item 3左右各間隔10px Flex item 1跟5高度為80px</h3>
  <div style="display: flex;">
    <img style="height: 400px; margin-right: 3px;" src="/practise4.png">
  </div>
  <!-- 請將練習寫在這下面 -->
  <h3>練習</h3>
  <div class="d-flex flex-row bd-highlight mb-3 justify-content-start bootstrapField">
    <div class="align-self-stretch item_1">Flex item 1</div>
    <div class="align-self-end item_2">Flex item 2</div>
    <div class="align-self-center item_3">Flex item 3</div>
    <div class="align-self-start item_4">Flex item 4</div>
    <div class="align-self-stretch item_5">Flex item 5</div>
  </div>
  <div class="d-flex flex-row-reverse bd-highlight mb-3 justify-content-end bootstrapField">
    <div class="align-self-stretch item_1">Flex item 1</div>
    <div class="align-self-end item_2">Flex item 2</div>
    <div class="align-self-center item_3">Flex item 3</div>
    <div class="align-self-start item_4">Flex item 4</div>
    <div class="align-self-stretch item_5">Flex item 5</div>
  </div>
</div>
