<div style="margin: 5px;">
  <h3>點擊確認按鈕時 請將畫面上的資料(包含標題 說明...等)跟使用者輸入的內容跟選項都打包成一個json並且打印出來</h3>
  <!-- 請將練習寫在這下面 -->
  <div style="border: 2px solid; margin-left: 5%; width: 500px; padding: 10px;">
    <h3>標題: {{ jsonData.title }}</h3>
    <h3>說明: {{ jsonData.content }}</h3>
    <span style="color: red;">提示: {{ jsonData.hint }}</span><br>
    @for (userContent of jsonData.userContent; track $index) {
      <div>
        <label>{{ userContent.questName }}</label>
        <input>
      </div><br>
    }
    <button>確認</button>
  </div>
</div>
