<div style="margin: 5px;">
  <h3>請重現下圖練習</h3>
  <h3>等級計算機，按升級等級會增加並且攻擊力跟防禦力也會增加(攻擊每加一等*3、防禦每加一等*2)</h3>
  <h3>下方的輸入框可以直接輸入等級並且按下修改等級會去計算攻擊力與防禦力，重置按鈕將會把等級/攻擊/防禦恢復至1等</h3>
  <div style="display: flex;">
    <img style="height: 400px; margin-right: 3px;" src="/practise9.png">
  </div>
  <!-- 請將練習寫在這下面 -->
  <h3>練習</h3>

  <div class="divCss">
    <div class="reset">
      <button class="resetBtn" (click)="reset()">重置</button>
    </div>
    <h3 class="title">角色等級計算機</h3>
    <h5>等級 : {{ level }}</h5>
    <div class="upDownDiv">
      <button class="levelUp" (click)="levelUp()">升級</button>
      <button class="levelDown" (click)="levelDown()">降級</button>
    </div>
    <h5>攻擊力 : {{ attack }}</h5>
    <br>
    <h5>防禦力 :  {{ defense }}</h5>
    <br>
    <h6 style="color: red;">註解 : 角色初始等級為1，初始攻擊/防禦為10，每提升一級攻擊*3 防禦*2，降級則除3跟2。</h6>
    <br>
    <label>自行輸入等級 : <input type="text" [(ngModel)]="inputLevel"></label>
    <br><br>
    <button class="resetLevelBtn" (click)="changeLevel()">修改等級</button>
  </div>

</div>
