.divCss {
  border: 3px solid black;
  width: 400px;
  height: 500px;
  margin-bottom: 30px;
  padding: 15px;
  background-color: white;
}

.reset {
  margin-left: 86%;
}

.resetBtn {
  border-radius: 3px;
}

.title {
  color: red;
  text-align: center;
}


.upDownDiv {
  width: 380px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.levelUp {
  border-radius: 3px;
  width: 150px;
  margin-right: 60px;
}

.levelDown {
  border-radius: 3px;
  width: 150px;
}

.resetLevelBtn {
  width: 360px;
  border-radius: 3px;
}
