<div style="display: flex; justify-self: center; align-items: center; height: 100vh;">
  <div>
    <button routerLink="/practise1">練習1</button>
    <button routerLink="/practise2">練習2</button>
    <button routerLink="/practise3">練習3</button>
    <button routerLink="/practise4">練習4</button>
    <button routerLink="/practise5">練習5</button>
    <button routerLink="/practise6">練習6</button>
    <button routerLink="/practise7">練習7</button>
    <button routerLink="/practise8">練習8</button>
    <button routerLink="/practise9">練習9</button>
    <button routerLink="/practise10">練習10</button><br>
    <button routerLink="/practise11">練習11</button>
    <button routerLink="/practise12">練習12</button>
    <button routerLink="/practise13">練習13</button>
    <button routerLink="/practise14">練習14</button>
    <button routerLink="/practise15">練習15</button>
    <button routerLink="/practise16">練習16</button>
    <button routerLink="/practise17">練習17</button>
    <button routerLink="/practise18">練習18</button>
    <button routerLink="/practise19">練習19</button>
    <button routerLink="/practise20">練習20</button><br>
    <button routerLink="/practise21">練習21</button>
    <button routerLink="/practise22">練習22</button>
    <button routerLink="/practise23">練習23</button>
    <button routerLink="/practise24">練習24</button>
    <button routerLink="/practise25">練習25</button>
    <button routerLink="/practise26">練習26</button>
    <button routerLink="/practise27">練習27</button>
    <button routerLink="/practise28">練習28</button>
    <button routerLink="/practise29">練習29</button>
    <button routerLink="/practise30">練習30</button><br>
    <button routerLink="/practise31">練習31</button>
    <button routerLink="/practise32">練習32</button>
    <button routerLink="/practise33">練習33</button>
  </div>
</div>
