button {
  width: 100px;
  height: 80px;
  font-size: 18px;
  margin-right: 3px;
  margin-bottom: 3px;
  color: #fff;
  border-radius: 5px;
  background: linear-gradient(to right, #ff0034, #7d0af1);
}
